#loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginContainer {
    display: flex;
    flex-direction: column;
    width: 370px;
    padding: 2rem;
    position: relative;
    top: -170px;
    border: 1px solid var(--subtle);
    background-color: white;
    border-radius: 15px;
}

#logInPage h2 {
    margin: 0 0 1rem;
}

#logInPage input {
    margin: 0 0 0.7rem;
    text-align: end;
    width: 170px;
}

#logInPage input:last-of-type {
    margin: 0 0 0.7rem;
}

#loginContainer div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#logInPage .btn {
    margin: 1rem auto 0;
}
