.employeeCard {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 350px;
  filter: drop-shadow(4px 7px 20px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  background-color: white;
}

.emDetails {
  flex: 100%;
  margin: 0 0 1rem;
}

.emName {
  font-weight: var(--bold);
  font-size: 1.2rem;
  text-align: left;
}

.frame {
  width: 100%;
  height: 200px;
  border: 1px solid var(--subtle);
  margin: 0 0 1rem;
  position: relative;
}

#changeRole {
  font-weight: bold;
  color: white;
  margin: 0 0 0 auto;
}

.yay {
  background-color: green;
}

.aww {
  background-color: rgb(199, 15, 15);
}

.star {
  position: absolute;
  right: 10px;
  top: 10px;
}
