.btn {
    width: fit-content;
}

.btn.secondary {
    background-color: white;
    color: var(--dark);
    border: 1px solid var(--mainColorAccent);
    padding: 0.2rem 0.5rem;
    height: fit-content;
    color: var(--mainColor);
}

.btn.demote {
    border: 1px solid red;
}

.btn.primary {
    background-color: var(--mainColorAccent);
}
