header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0;
    align-items: center;
    padding: 0 1rem;
}

header img {
    width: 8rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li:not(:last-of-type) {
    margin: 0 1.5rem 0 0;
}

header nav a {
    text-decoration: none;
    color: var(--mainColor);

    &::after {
        content: '';
        width: 0%;
        height: 1px;
        display: block;
        background-color: var(--mainColor);
        transition: width 300ms;
        opacity: 0.5;
    }

    &:hover::after {
        width: 100%;
    }
}
