@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;

    --mainColor: #2a2a50;
    --accent: #8585dc;
    --subtle: #ddddec;

    --light: 300;
    --medium: 500;
    --bold: 700;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Geist', sans-serif;
    font-size: 16px;
    color: var(--mainColor);
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 7rem);
}

button {
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    padding: 0.3rem;

    &:hover {
        cursor: pointer;
    }
}
