@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;

  --mainColor: #33333d;
  --accent: #45456d;
  --subtle: #adadad;

  --light: 300;
  --medium: 500;
  --bold: 700;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: var(--mainColor);
  background-color: aliceblue;
  width: 80%;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 7rem);
}

button {
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  padding: 0.3rem;

  &:hover {
    cursor: pointer;
  }
}
